<!-- Default menu that will be displayed in all pages. -->
<div class="{{this.currentTheme.theme}}-default" id="default-menu">

  <!-- Used to separate content from menu -->
  <hr id="vertical-line">

  <!-- Contains the logo image -->
  <div class="{{this.currentTheme.theme}}-default" id="nbg-logo-id">
    <img src="assets/icons/NBG_{{this.currentTheme.theme}}_Logo.jpg" id="nbg-logo">
  </div>

  <!-- Contains the side menu -->
  <div class="{{this.currentTheme.theme}}-default" id="side-menu">
    <button class="dark-{{this.currentTheme.theme}}-default side-menu-button" type="button">Vendas</button>
    <button class="dark-{{this.currentTheme.theme}}-default side-menu-button" type="button">Produtos</button>
    <button class="dark-{{this.currentTheme.theme}}-default side-menu-button" type="button">Gráficos de Vendas</button>

    <!-- Used to choose between muse and aqours themes -->
    <form class="dark-{{this.currentTheme.theme}}-default" id="temas-form">
      <label>Temas</label>
      <input type="radio" value="μ's" name="theme" (click)="setMuseTheme()" checked="checked "class="tema-radio-button">
      <label>μ's</label>
      <input type="radio" value="Aqours" name="theme"(click)="setAqoursTheme()" class="tema-radio-button">
      <label>Aqours</label>
    </form>
  </div>
  <router-outlet></router-outlet>
</div>
