/* Global css variables used in the project as a whole */

/* Defining the most used colors */
$colors: (
  dark_muse: #E1658C,
  muse: #E781A0,
  dark_aqours: #73BFEB,
  aqours: #97CDEF
  );

/* Color used on backgrounds and buttons of the muse theme */
.dark-muse-default{
  background-color: dark_muse;
  color: white;
};

/* Color used on containers of the muse theme */
.muse-default{
  background-color: muse;
  color: white;
};

/* Color used on backgrounds and buttons of the aqours theme */
.dark-aqours-default{
  background-color: dark_aqours;
  color: white;
};

/* Color used on containers of the aqours theme */
.aqours-default{
  background-color: aqors;
  color: white;
}
