/* Global css variables used in the project as a whole */

/* Color used on backgrounds and buttons of the muse theme */
.dark-muse-default{
  background-color: #E1658C;
};

/* Color used on containers of the muse theme */
.muse-default{
  background-color: #E781A0;
};

/* Color used on backgrounds and buttons of the aqours theme */
.dark-aqours-default{
  background-color: #73BFEB;
};

/* Color used on containers of the aqours theme */
.aqours-default{
  background-color: #97CDEF;
}

/* Id used for the container of the default menu */
#default-menu{
  border-radius: 10px;
  border: 3px solid black;
}
