<!-- Default menu that will be displayed in all pages. -->
<div class="muse-default" id="default-menu">

  <!-- Contains the logo image -->
  <div class="muse-default" id="nbg-logo-div">
    <img src="assets/icons/NBG_Muse_Logo.jpg" id="nbg-logo">
  </div>

  <!-- Contains the side menu -->
  <div class="muse-default" id="side-menu">
    <button class="dark-muse-default side-menu-button" type="button">Vendas</button>
    <button class="dark-muse-default side-menu-button" type="button">Produtos</button>
    <button class="dark-muse-default side-menu-button" type="button">Gráficos de Vendas</button>
  </div>
