@import '../../styles.css';

/* Class used in all buttons of the side menu */
.side-menu-button{
  color: white;
  border: 2px solid black;
  font-family: Verdana;
  font-size: 11.0pt;
  font-weight: 400;
  text-align: center;
  height: 27px;
  width: 174px;
  border-radius: 4px;
}

/* Id used for the container of the default menu */
#default-menu{
  border-radius: 10px;
  border: 5px solid black;
  padding-bottom: 31px;
  position: relative;
  bottom: -7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Id used for the container of the image */
#nbg-logo-div{
  margin:23px 20px 19px 17px;
}

/* Id used for the logo of the default image */
#nbg-logo{
  height: 178px;
  border: 2px solid black;
}

/* Id used on the default side menu */
#side-menu{
  display: inline-grid;
  position: relative;
  left: 20px;
}
